# Pipeline principal - Orchestrateur des pipelines enfants (propre à chaque image)

include:
  - local: '.gitlab/ci/templates/update-chart-tag-template.yml'

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  DEPLOY_PROJECT: projet_fastapi_deploy
  CHARTS_DIR: Helm


stages:
  - triggers
  - promote


# ----------------------------------------------
# Trigger Job Frontend - Build, Run, Push
# ----------------------------------------------
frontend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"
    strategy: depend
  variables:
    # vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
    REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: frontend
    HOSTPORT: 6080
    CONTAINERPORT: 80
    URL_PATH: "/"
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    - when: manual    # déclencer manuellement pour tester le pipeline
    
    # - when: never         # sinon, ne jamais déclencher


# Publier le tag dans values-dev.yaml du Chart
update_chart_frontend:
  stage: promote
  extends:
    - .install_yq_v4
    - .push_tag_deploy_dev
  variables:
    IMAGENAME: frontend
    CHART_PATH: $CHARTS_DIR/frontend
    VALUES_FILE: values-dev.yaml
  needs:
    - job: frontend
      optional: true


fallback_trigger_deploy:
  extends: .api_trigger_pipeline
  needs:
    - job: update_chart_frontend
      optional: true
  when: on_failure
  variables:
    UPDATED_IMAGENAME: frontend
    REF: dev
  script:
    - echo "FALLBACK ':' tag Push to Deploy repo was skipped or failed, triggering pipeline via API..."


# ----------------------------------------------
# Trigger Job Backend - Build, Run, Push
# ----------------------------------------------
backend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"    # .gitlab/ci/templates/build-template.yml
    strategy: depend
  variables:
    # vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
    REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: backend
    HOSTPORT: 7800
    CONTAINERPORT: 8000
    URL_PATH: "/api/v1/utils/health-check/"
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    - when: manual    # déclencer manuellement pour tester le pipeline
    
    # - when: never         # sinon, ne jamais déclencher


# Publier le tag dans values-dev.yaml du Chart
update_chart_backend:
  stage: promote
  extends:
    - .install_yq_v4
    - .push_tag_deploy_dev
  variables:
    IMAGENAME: backend
    CHART_PATH: $CHARTS_DIR/backend
    VALUES_FILE: values-dev.yaml
  needs:
    - job: backend
      optional: true


fallback_trigger_deploy:
  extends: .api_trigger_pipeline
  needs:
    - job: update_chart_backend
      optional: true
  when: on_failure
  variables:
    UPDATED_IMAGENAME: frontend
    REF: dev
  script:
    - echo "FALLBACK ':' tag Push to Deploy repo was skipped or failed, triggering pipeline via API..."
