# Pipeline principal - Orchestrateur des pipelines enfants (propre à chaque image)

# include:
#   - local: '/ci-templates/.ci-integration-tests.yml'

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  # DOMAIN: fastapi.vulgarit.fr


stages:
  - triggers


# ----------------------------------------------
# Trigger Job Frontend - Build, Run, Push
# ----------------------------------------------
frontend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/children/build-frontend.yml"
    strategy: depend
  variables:
    IMAGENAME: frontend
    IMAGETAG: $TAG
    HOSTPORT: 6080
    CONTAINERPORT: 80
    URL_PATH: ""
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    - when: manual
    
    # - when: never         # sinon, ne jamais déclencher


# ----------------------------------------------
# Trigger Job Backend - Build, Run, Push
# ----------------------------------------------
backend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/children/build-backend.yml"    # .gitlab/ci/templates/build-template.yml
    strategy: depend
  variables:
    IMAGENAME: backend
    IMAGETAG: $TAG
    HOSTPORT: 7800
    CONTAINERPORT: 8000
    URL_PATH: "api/v1/utils/health-check/"
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    - when: manual
    
    # - when: never         # sinon, ne jamais déclencher


# ----------------------------------------------
# Tests d’intégration sur Docker Compose
# ----------------------------------------------

# test_dev:
#   stage: integration_tests
#   variables:
#     NODEPORT: $NODEPORT_DEV
#   extends: .integration_test
#   rules:
#     - when: manual
