# Pipeline principal - Orchestrateur des pipelines enfants (propres à chaque image)


include:
  - local: '.gitlab/ci/templates/promote-deploy-template.yml'

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  
  # Chemin vers le repertoire qui contient les Charts Helm
  CHARTS_DIR: Helm
  
  # Nom du projet de Déploiement, situé dans le même groupe GitLab
  DEPLOY_PROJECT: projet_fastapi_deploy
  
  # Access Token pour push sur le repo du projet Deploy
  DEPLOY_PROJECT_TOKEN: "" # GROUP_REPO_TOKEN
  
  # Trigger Token du projet Deploy, employé en fallback
  TRIGGER_TOKEN: $TRIGGER_TOKEN_DEPLOY
  
  # Permettre le déclenchement manuel des jobs (utile en test)
  MANUAL_MODE: true


stages:
  - triggers
  - promote


# ----------------------------------------------
# Trigger Job Frontend - Build, Run, Push
# ----------------------------------------------
frontend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"
    strategy: depend
  variables:
    # vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
    REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: frontend
    HOSTPORT: 6080
    CONTAINERPORT: 80
    URL_PATH: "/"
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    # fallback de déclenchement manuel en mode Dev
    - if: '$MANUAL_MODE =~ /^(1|true|yes)$/'
      when: manual
    
    # sinon, ne jamais déclencher
    - when: never


# Promouvoir l'image en déploiement Dev
update_chart_frontend:
  stage: promote
  extends:
    - .install_yq_v4
    - .push_tag_deploy_dev
  variables:
    IMAGENAME: frontend
    CHART_PATH: $CHARTS_DIR/frontend
    VALUES_FILE: values-dev.yaml
  needs:
    - job: frontend
      optional: true


fallback_trigger_frontend:
  stage: promote
  extends: .api_trigger_pipeline
  needs:
    - job: update_chart_frontend
      artifacts: true
  rules:
    - if: '$TAG_PUSHED != "success"'
  variables:
    IMAGENAME: frontend
    REF: dev


# ----------------------------------------------
# Trigger Job Backend - Build, Run, Push
# ----------------------------------------------
backend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"    # .gitlab/ci/templates/build-template.yml
    strategy: depend
  variables:
    # vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
    REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: backend
    HOSTPORT: 7800
    CONTAINERPORT: 8000
    URL_PATH: "/api/v1/utils/health-check/"
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    # fallback de déclenchement manuel en mode Dev
    - if: '$MANUAL_MODE =~ /^(1|true|yes)$/'
      when: manual
    
    # sinon, ne jamais déclencher
    - when: never


# Promouvoir l'image en déploiement Dev
update_chart_backend:
  stage: promote
  extends:
    - .install_yq_v4
    - .push_tag_deploy_dev
  variables:
    IMAGENAME: backend
    CHART_PATH: $CHARTS_DIR/backend
    VALUES_FILE: values-dev.yaml
  needs:
    - job: backend
      optional: true


fallback_trigger_backend:
  stage: promote
  extends: .api_trigger_pipeline
  needs:
    - job: update_chart_backend
      artifacts: true
  variables:
    IMAGENAME: frontend
    REF: dev
