# Pipeline principal - Orchestrateur des pipelines enfants (propre à chaque image)

include:
  # - local: '/ci-templates/.ci-integration-tests.yml'
  - local: '.gitlab/ci/templates/update-chart-tag-template.yml'

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  DEPLOY_REPO: projet_fastapi_deploy
  CHARTS_DIR: Helm


stages:
  - triggers
  - promote


# ----------------------------------------------
# Trigger Job Frontend - Build, Run, Push
# ----------------------------------------------
frontend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"
    strategy: depend
  variables:
    # DEBUG_VARS --> vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
    DEBUG_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: frontend
    # IMAGETAG: $TAG
    HOSTPORT: 6080
    CONTAINERPORT: 80
    URL_PATH: "/"
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    - when: manual    # déclencer manuellement pour tester le pipeline
    
    # - when: never         # sinon, ne jamais déclencher


# Publier le tag dans values-dev.yaml du Chart
update_chart_frontend:
  stage: promote
  extends:
    - .install_yq_v4
    - .update_helm_values
  variables:
    CHART: $CHARTS_DIR/frontend
  needs:
    - job: frontend
      optional: true


# ----------------------------------------------
# Trigger Job Backend - Build, Run, Push
# ----------------------------------------------
backend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"    # .gitlab/ci/templates/build-template.yml
    strategy: depend
  variables:
    # DEBUG_VARS --> vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
    DEBUG_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: backend
    # IMAGETAG: $TAG
    HOSTPORT: 7800
    CONTAINERPORT: 8000
    URL_PATH: "/api/v1/utils/health-check/"
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
    
    - when: manual    # déclencer manuellement pour tester le pipeline
    
    # - when: never         # sinon, ne jamais déclencher


# Publier le tag dans values-dev.yaml du Chart
update_chart_backend:
  stage: promote
  extends:
    - .install_yq_v4
    - .update_helm_values
  variables:
    CHART: $CHARTS_DIR/backend
  needs:
    - job: backend
      optional: true
