# Pipeline principal - Orchestrateur des pipelines enfants (propres à chaque image)

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  CHARTS_DIR: Helm
  DEPLOY_PROJECT: projet_fastapi_deploy
  # Permettre le déclenchement manuel des jobs (utile en test)
  MANUAL_MODE: false


stages:
  - build_push
  - aggregation
  - trigger_deploy


# ----------------------------------------------
# Job Rules
# ----------------------------------------------

# Template de Rules de présence des jobs du pipeline
.manual_rules:
  rules:
    

.job_rules:
  rules:
    # déclencher si les fichiers du dossiers changent (matche aussi sur trigger, sans git diff)
    - if: '$CI_PIPELINE_SOURCE =~ /^(push|merge_request_event)$/'
      changes:
        - $IMAGENAME/**
    # fallback de déclenchement manuel si activé
    - if: '$MANUAL_MODE =~ /^(1|true|yes)$/'
      when: manual
    # sinon, ne jamais déclencher
    - when: never


# ----------------------------------------------
# Trigger Build, Run, Push child
# ----------------------------------------------

frontend_build:
  stage: build_push
  extends: .job_rules
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"
    strategy: depend
  variables:
    # vérifie la valeur des variables et échoue si absentes. Vide ou "disabled" pour annuler le check.
    ENABLE_PRECHECK: false
    REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: frontend
    HOSTPORT: 6080
    CONTAINERPORT: 80
    URL_PATH: "/"


# backend_build:
#   stage: build_push
#   extends: .job_rules
#   trigger:
#     include: ".gitlab/ci/templates/build-template.yml"    # .gitlab/ci/templates/build-template.yml
#     strategy: depend
#   variables:
#     # vérifie la valeur des variables et échoue si absente. Vide ou "disabled" pour annuler le check.
#     ENABLE_PRECHECK: false
#     REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"    
#     IMAGENAME: backend
#     HOSTPORT: 7800
#     CONTAINERPORT: 8000
#     URL_PATH: "/api/v1/utils/health-check/"


# ----------------------------------------------
# Build & Push Jobs results aggregation
# - Détecter les jobs build_push qui ont réussi
# - Aggréger les résultats au format image:tag
# ----------------------------------------------

frontend_updated:
  stage: aggregation
  extends: .job_rules
  variables:
    IMAGENAME: frontend
  needs:
    - job: frontend_build
  script:
    - echo "frontend" > frontend.image
  artifacts:
    when: on_success
    paths:
      - frontend.image


# backend_updated:
#   stage: aggregation
#   extends: .job_rules
#   variables:
#     IMAGENAME: backend
#   needs:
#     - job: backend_build
#   script:
#     - echo "backend" > backend.image
#   artifacts:
#     when: on_success
#     paths:
#       - backend.image


aggregate_images:
  stage: aggregation
  rules:
  - if: '$CI_PIPELINE_SOURCE =~ /^(push|merge_request_event)$/'
    # changes:
    #   - frontend/**
    #   - backend/**
  - if: '$MANUAL_MODE =~ /^(1|true|yes)$/'
    when: manual
  - when: never
  needs:
    - job: frontend_updated
      optional: true
    - job: backend_updated
      optional: true
  script:
    - |
      if compgen -G "*.image" > /dev/null; then
        UPDATED_IMAGES=$(cat *.image | paste -sd "," -)
        echo "UPDATED_IMAGES=$UPDATED_IMAGES" >> deploy.env
      fi

      # if [ -z "$UPDATED_IMAGES" ]; then
      #   echo "Error: $UPDATED_IMAGES is empty. It is expected to contain at least one image name."
      #   exit 1
      # fi

      echo "UPDATED_TAG=$TAG" >> deploy.env

      echo "Checking dotenv artifact..."
      cat deploy.env

  artifacts:
    reports:
      dotenv: deploy.env


# ----------------------------------------------
# Trigger Deploy Project
# - Transmettre le résultat aggrégé au pipeline Deploy
# ----------------------------------------------
update_deploy:
  stage: trigger_deploy
  rules:
    - if: '$CI_PIPELINE_SOURCE =~ /^(push|merge_request_event)$/'
      changes:
        - frontend/**
        - backend/**
    - if: '$MANUAL_MODE =~ /^(1|true|yes)$/'
      when: manual
    - when: never
  needs:
    - aggregate_images
  trigger:
    # déclencher le pipeline deploy sur le même nom de branche que App
    project: $CI_PROJECT_NAMESPACE/projet_fastapi_deploy
    branch: $CI_COMMIT_REF_NAME
    strategy: depend
  inherit:
    variables: false
  variables:
    # Variables récupérées dans l'artifact dotenv via Needs aggregate_images
    UPDATED_IMAGES: $UPDATED_IMAGES
    UPDATED_TAG: $UPDATED_TAG

