# Pipeline principal - Orchestrateur des pipelines enfants (propre à chaque image)

# include:
#   - local: '/ci-templates/.ci-integration-tests.yml'

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  DOMAIN: fastapi.vulgarit.fr


stages:
  - triggers


# ----------------------------------------------
# Trigger Job Frontend - Build, Run, Push
# ----------------------------------------------
frontend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/build-frontend.yml"
    strategy: depend
  variables:
    IMAGENAME: frontend
    TAG: $TAG
    # CHART_DIR: "Helm/frontend"
    CONTAINERPORT: 80
    URL_PATH: ""
    HOSTPORT: 6080
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
      when: manual

    - when: never         # sinon, ne jamais déclencher


# ----------------------------------------------
# Trigger Job Backend - Build, Run, Push
# ----------------------------------------------
backend:
  stage: triggers
  trigger:
    include: ".gitlab/ci/build-frontend.yml"    # .gitlab/ci/templates/build-template.yml
    strategy: depend
  variables:
    IMAGENAME: backend
    TAG: $TAG
    # CHART_DIR: "Helm/backend"
    CONTAINERPORT: 8000
    URL_PATH: "/docs"
    HOSTPORT: 7800
  rules:
    - changes:
        - $IMAGENAME/**   # ne se déclenche que si les fichiers du dossiers changent
      when: manual
    
    - when: never         # sinon, ne jamais déclencher


# ----------------------------------------------
# Tests d’intégration sur Docker Compose
# ----------------------------------------------

# test_dev:
#   stage: integration_tests
#   variables:
#     NODEPORT: $NODEPORT_DEV
#   extends: .integration_test
#   rules:
#     - when: manual



