# Pipeline principal - Orchestrateur des pipelines enfants (propres à chaque image)


include:
  - local: '.gitlab/ci/templates/promote-deploy-template.yml'

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  
  # Chemin vers le repertoire qui contient les Charts Helm
  CHARTS_DIR: Helm
  
  # Projet de Déploiement
  DEPLOY_PROJECT: projet_fastapi_deploy
  # DEPLOY_PROJECT_GROUP: $CI_PROJECT_NAMESPACE
  # DEPLOY_ACCESS_TOKEN: "" # GROUP_REPO_TOKEN
  # DEPLOY_TRIGGER_TOKEN: $TRIGGER_TOKEN_DEPLOY
  
  # Permettre le déclenchement manuel des jobs (utile en test)
  MANUAL_MODE: true


stages:
  - build_push
  - aggregation
  - update_deploy


# ----------------------------------------------
# Job Rules
# ----------------------------------------------

# Template de Rules de présence des jobs du pipeline
.job_rules:
  rules:
    # déclencher si les fichiers du dossiers changent (matche aussi sur trigger, sans git diff)
    - changes:
        - $IMAGENAME/**   
    
    # fallback de déclenchement manuel en mode Dev
    - if: '$MANUAL_MODE =~ /^(1|true|yes)$/'
      when: manual
    
    # sinon, ne jamais déclencher
    - when: never


# ----------------------------------------------
# Trigger Build, Run, Push child
# ----------------------------------------------

frontend_build:
  stage: build_push
  extends: .job_rules
  trigger:
    include: ".gitlab/ci/templates/build-template.yml"
    strategy: depend
  variables:
    # vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
    REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    IMAGENAME: frontend
    HOSTPORT: 6080
    CONTAINERPORT: 80
    URL_PATH: "/"


# backend_build:
#   stage: build_push
#   extends: .job_rules
#   trigger:
#     include: ".gitlab/ci/templates/build-template.yml"    # .gitlab/ci/templates/build-template.yml
#     strategy: depend
#   variables:
#     # vérifie la valeur des variables et échoue si absente. Laisser vide ou bien "disabled" pour annuler le check.
#     REQUIRED_VARS: "IMAGENAME TAG HOSTPORT CONTAINERPORT URL_PATH"
    
#     IMAGENAME: backend
#     HOSTPORT: 7800
#     CONTAINERPORT: 8000
#     URL_PATH: "/api/v1/utils/health-check/"


# ----------------------------------------------
# Build & Push Jobs results aggregation
# - Détecter les jobs build_push qui ont réussi
# - Aggréger les résultats au format image:tag
# ----------------------------------------------

frontend_detected:
  stage: aggregation
  extends: .job_rules
  variables:
    IMAGENAME: frontend
  needs:
    - job: frontend_build
  script:
    - echo "frontend" > frontend.image
  artifacts:
    when: on_success
    paths:
      - frontend.image

# backend_detected:
#   stage: aggregation
#   extends: .job_rules
#   variables:
#     IMAGENAME: backend
#   needs:
#     - job: backend_build
#   script:
#     - echo "backend" > backend.image
#   artifacts:
#     when: on_success
#     paths:
#       - backend.image

aggregate_images:
  stage: aggregation
  rules:
  - if: '$CI_PIPELINE_SOURCE =~ /^(push|merge_request_event)$/'
  - if: '$MANUAL_MODE =~ /^(1|true|yes)$/'
    when: manual
  - when: never
  needs:
    - job: frontend_detected
      optional: true
    - job: backend_detected
      optional: true
  script:
    - |
      if compgen -G "*.image" > /dev/null; then
        UPDATED_IMAGES=$(cat *.image | paste -sd "," -)
        echo "UPDATED_IMAGES=$UPDATED_IMAGES" >> deploy.env
      fi

      echo "UPDATED_TAG=$TAG" >> deploy.env

      echo "Checking dotenv artifact..."
      cat deploy.env

  artifacts:
    reports:
      dotenv: deploy.env


# ----------------------------------------------
# Trigger Deploy Project
# - Transmettre le résultat aggrégé au pipeline Deploy
# ----------------------------------------------
trigger_deploy:
  stage: update_deploy
  rules:
    - if: '$UPDATED_IMAGES != ""'
  needs:
    - aggregate_images
  trigger:
    # déclencher le pipeline deploy sur le même nom de branche que App
    project: $CI_PROJECT_NAMESPACE/projet_fastapi_deploy
    branch: $CI_COMMIT_REF_NAME
    strategy: depend
  # inherit:
  #   variables:
  #     - TAG
  variables:
    # Variable récupérée dans l'artifact dotenv via Needs: aggregate_images
    UPDATED_IMAGES: $UPDATED_IMAGES
    # Variable héritée
    UPDATED_TAG: $UPDATED_TAG
    APP_TAG: $TAG
    APP_COMMIT_SHA: $CI_COMMIT_SHORT_SHA
